* { 
    padding: 0;
    margin: 0 center;
    box-sizing: border-box;
}
html {
    width: 100%;
    
}

body {
    margin: 0;
    width: 100%;
}
header {   
    
}

nav {
    width: 100%;
    height: 67px; 
    background-color: #3A3A3A;
    display:inline-flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    border: 0px;
    padding-left: 23%;
    padding-right: 5%;

}
.nav content {
    margin-left: 100px;
    margin-right: 23%;
}

.button-nav {
    margin-top: 26px;
    margin-bottom: 26px;
/*    margin-right: 25%; este margin es creado solo para los botones*/ 
    font-size: 17px;
    text-decoration: underline;
    font: normal normal bold 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.button-nav a {
    color: #FFFFFF;
}
a {
    margin-left: 21px;
}

.start {
    width: 40px;
    height: 40px;
    margin-top: 14px;
/*    margin-left: 25%; margin en nav-content*/
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}


.img-portada {
    background-image: url("img/teclado.jpg");
    background-color: #8b8b8b;
    height: 377px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
.article1 {
    display: flex;
    justify-content: center;
}
.media-content {
    width: 20%;
    position: relative;
    margin-left: 23%;
}
.media {
    display: flex;
    position: absolute;
    top: -125px;
    right: 34px;
}
.social-media-content {
    display: flex;
    flex-direction: row;
    width: 122px;
    align-content: center;
    justify-content: space-around;
    /*text-align: left;*/
    font: normal normal 600 8px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-decoration: none;
    text-justify: center;
    position: absolute;
    bottom: -29px;
    align-items: center;
    width: 100%;

}

.img-perfil{
    width: 184px;
    height: 184px;
    border-radius: 50%;
    /*position: relative;*/
    top: 247px;
    left: 554px;
    width: 260px;
    height: 260px;
}
.texto-center {
    text-align: center;
}

.social-media-content-1 {
    display: flex;
    width: 220px;
    height: 100px;
    flex-wrap: nowrap;
    flex-direction: row;
}
.center-1{
    display: flex;
    margin: 0px;
    text-align: center;

    
}
.social-media {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.social-media-2 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.social-media-3 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.resumen {
    /*width: 50%;*/
    flex: 1;
    /*height: 525px;
    margin-left: 34px;
    margin-right: 10%;
    margin-bottom: 34px;
    text-align: star;
    margin-top: 2.5px;*/
    font: normal normal 600 21px/34px Segoe UI;
}
.resumen-1 {
    width: 80%;
/*    background-color: blue;*/
    padding-top: 2.5px;
    padding-bottom: 34px;
    padding-left: 34px;
    margin-right: 23%;
    padding-right: 15%;
}
.nome-resumen {
    text-align: left;
    font: normal normal bold 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.cargo-resumen {
    text-align: left;
    font: italic normal 300 34px/46px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.saludo {
    text-align: left;
    font: normal normal bold 34px/46px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.img-perfil {
    background-image: url(img/perfil.jpg);
}

.formation{
    width: 100%;
    height: 353px;
    background-color: #DEDEDE;
    flex-direction: column;
    align-content: space-around;
}

.titulo-formation {
    margin-left: 23%;
    font: normal normal 300 55px/73px Segoe UI;
    
}

.content-formation {
    margin-left: 23%;
    height: 66px;
    font: normal normal bold 21px/34px Segoe UI;
    display: flex;
    margin-top: 33px;
    
}
.content-1 {
    height: 66px;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    color: #707070; 
    opacity: 1;
}
.content-formation-2 {
    margin-left: 23%;
    height: 66px;
    font: normal normal bold 21px/34px Segoe UI;
    display: flex;
    margin-top: 33px;
    
}
.content-2 {
    height: 66px;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    color: #707070; 
    opacity: 1;
}

.ano {
    font: normal normal 600 13px Segoe UI;
    margin: 0px;

}
.estudo {
    font: normal normal bold 21px Segoe UI;
    margin: 0px;
}
.intituto {
    font: normal normal 600 13px Segoe UI;
    margin: 0px;
}
.cargo {
    font: normal normal bold 21px Segoe UI;
    margin: 0px;
}
.empresa {
    font: normal normal 600 13px Segoe UI;
    margin: 0px;
}

.black {
    width: 8px;
    height: 66px;
    background-color: #000000;
    border-radius: 5px;
}
.white {
    width: 8px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.experiencia {
    width: 100%;
    height: 353px;
    background-color: #434343;
    margin: 0;
    flex-direction: column;
    align-content: space-around;
}

.titulo-experiencia {
    color: #999999;
    opacity: 1;
    font: normal normal 300 73px Segoe UI;
    margin: 0;
    text-align: start;
/*    width: 258px;
    height: 73px;*/
    margin-left: 23%;
    padding-bottom: 25px;
}

.content-3 {
    height: 66px;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    color: #999999; 
    opacity: 1;
}
.content-4 {
    height: 66px;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    color: #999999; 
    opacity: 1;
}

.content-formation-3 {
    margin-left: 23%;
    height: 66px;
    font: normal normal bold 21px/34px Segoe UI;
    display: flex;
    margin-top: 33px;
}

.content-formation-4 {
    margin-left: 23%;
    height: 66px;
    font: normal normal bold 21px/34px Segoe UI;
    display: inline-flex;
    margin-top: 21px;
}
.projecto {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
.projecto-figure {
    width: 260px;
    height: 335px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    padding: 19px;
    background-color: #FFFFFF;
}
.figure-content {
    display: flex;
    padding: 0;
    margin: 0px;
    justify-content: center;
    /*padding-left: 23%;
    padding-right: 23%;*/
    margin-left: 23%;
    margin-right: 23%;
    
}
.projecto-img {
    width: 231px;
    height: 129px;
    object-fit: cover;
    object-position: center;
 

}
.titulo-projecto {
    color: #999999;
    opacity: 1;
    font: normal normal 300 73px Segoe UI;
    margin: 0;
    text-align: start;
/*    width: 258px;
    height: 73px;*/
    margin-left: 23%;
/*    margin-bottom: 25px;*/
padding-bottom: 25px;
}
.button-content-1 {
    display: flex;
    justify-content: space-around;
}
.button-1 {
    width: 110px;
    height: 34px;
    text-align: center;
    font: normal normal bold 12px/16px Segoe UI;
    letter-spacing: 0px;
    background-color:#585858;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 5px;
    opacity: 1;
    margin-top: 16px;
   
}


.contato {
    background-color: #000000;
    color: #FFFFFF;
    align-items: center;
    
}
.titulo-contato {
    text-align: left;
    font: normal normal 300 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.texto-contato {
    width: 50%;
    padding: 2%;
    color: #707070;
    text-align: left;
    font: normal normal normal 21px/28px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.contato-content {
    display: flex;
    margin-left: 23%;
}

.formulario {
    width: 50%;
    margin-right: 15%;
    padding-top: 107px;
    display: flex;
}

.nome-for {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 34px;
    /*background-color: #FFFFFF 0% 0% no-repeat padding-box;*/
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font: normal normal bold 13px/17px Segoe UI;
    margin-top: 17px;
}

.email {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 34px
    /*background-color: #FFFFFF 0% 0% no-repeat padding-box;*/
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font: normal normal bold 13px/17px Segoe UI;
    margin-top: 17px;
}

.assunto {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 34px
   /* background-color: #FFFFFF 0% 0% no-repeat padding-box;*/
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font: normal normal bold 13px/17px Segoe UI; 
    margin-top: 17px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 133px;
    resize: none;
   /* background-color: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;*/
    border-radius: 4px;
    opacity: 1;
    font: normal normal bold 13px/17px Segoe UI;
    margin-top: 17px;

}

.button-content {
    display: flex;
    justify-content: center;
}
.button-enviar {
    width: 122px;
    height: 34px;
    text-align: center;
    font: normal normal bold 12px/16px Segoe UI;
    letter-spacing: 0px;
    background-color:#585858;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 5px;
    opacity: 1;
    margin-top: 17px;
   
}

.input {
    background: #585858 0% 0% no-repeat padding-box;
}
.textarea {
    background: #585858 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.content-button-top {
    display: flex;
    position: absolute;
    background-color: aqua;
}
.button-top {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    float: left;
    position: bottom right ;
    position: -webkit-sticky;
    position: sticky;
    right: -50px;
    bottom: 0px;
}